# Shopify
NEXT_PUBLIC_SHOPIFY_DOMAIN=your-store.myshopify.com
SHOPIFY_STOREFRONT_ACCESS_TOKEN=SHOPIFY_STOREFRONT_ACCESS_TOKEN=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

SHOPIFY_API_VERSION=2024-10

# Revalidation webhook secret
SHOPIFY_WEBHOOK_SECRET=your-webhook-secret

# Site
NEXT_PUBLIC_SITE_URL=https://thedailymischief.store